body{
  font: 13px/1.6 arial,helvetica,sans-serif;
}
#comments{
  font-size: 12px;
}
h1,h2,h3,h4{
  font-size: 16px;
}
hr{
  margin: 5px 0;
}
.media{
  margin:0;
}
.media .desc{
  font-size: 12px;
}
.padding-right-15{
  padding-right: 15px !important;
  padding-left: 0 !important;
}
.padding-right-5{
  padding-right: 5px !important;
  padding-left: 0 !important;
}
.no-padding{
  padding:0;
}
.logo{
  width: 200px;
  height: 80px;
}
.navbar{
  margin-bottom: 0px;
}
.navbar-default{
  background: #449d44;
  border:none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
}
.navbar-default .navbar-nav>li>a {
  color: #FFF;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  background:  #398439;
  color: #FFF
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #FFF;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  background-color: #398439;
  color: #FFF;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
color: #FFF;
background-color: transparent;
}
.navbar-default .navbar-brand {
color: #FFF;
}
.navbar-default .navbar-toggle,.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #FFF;
}
.navbar-default .navbar-toggle .icon-bar {
background-color: #398439;
}
ul.yiiPager{height:26px;margin:0;padding:0}ul.yiiPager li{display:inline;margin:0 4px 0 0}ul.yiiPager a:link,ul.yiiPager a:visited{padding:5px 9px;border:1px solid #ccc;border-radius:3px;background:#fff;color:#777;font-weight:normal}ul.yiiPager a:hover{border-color:#449d44;box-shadow:1px 1px 1px #333;color:#035d67;text-decoration:none}ul.yiiPager .selected a{padding:6px 10px;border:0;border-radius:3px;background:#449d44;color:#fff}ul.yiiPager .hidden{display:none}