body {
  background-image: url('../images/body_bg.png');
  _background-image: none;
  background-repeat: repeat;
  background-color: #030C14;
  font-size: 14px;
  font-family: "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft Yahei", "微软雅黑", Tahoma, Arial, STHeiti, sans-serif;
  _font-family: Tahoma, Arial, Helvetica, STHeiti, sans-serif;
  cursor: default;
}
/*一些自定义样式*/
.wrapper{
    width:820px;
    margin:15px auto;
}
.header-top{
    width: 100%;
    background: none;
}
.header-logo{
    width: 820px;
    height: 100px;
    margin: 0 auto;
    font-size: 48px;
    padding-top: 10px;        
    color:#E6E5C9;
    text-align: center
}
.header-logo a{
    color:#E6E5C9
}
.header-logo a:hover{
    text-decoration: none;
}
/*全局左右宽度*/
.main-page{
    float:left;
    width: 550px;
    min-height:480px;
    _height:400px;
    background:#fff;
    margin-bottom:.8em;    
    border: 1px solid #e1dfdf;
    border-radius: 3px;
    box-shadow: 0 2px 1px -1px #d1d4d7;
    padding:25px 25px
}
.aside-page{
    float:right;
    width:220px;
}
.aside-page .aside-mod{
    width: 100%;
    padding: 15px 10px;
    background:#fff;
    border: 1px solid #e1dfdf;
    border-radius: 3px;
    box-shadow: 0 2px 1px -1px #d1d4d7;
    margin-bottom: 15px;
}
.text-indent{
    text-indent: 2em
}
.zmf-border-bottom{
    padding-bottom: 15px; 
    border-bottom:1px dashed #e9e9e9
}
/*标题*/
.item-title{
    margin-top: 0;
}
/*成语列表字母*/
.char-bar a{
    margin-right: 5px;
}
/*自定义的颜色*/
.color-grey,.color-grey a{
    color:#999
}
.color-grey a:hover{
    color: #428bca;
    text-decoration: underline;
}
.aside-searchHolder{
    margin-bottom: 15px;
}
/*首页最新列表*/
.col-list-item{
width: 120px;
float: left;
line-height: 1.6;
padding:2px 0;
}    
/*form表单错误提示*/
.errorSummary{
    border:2px solid #C00;
    background:#FEE;
    font-size:.9em;
    margin:0 0 20px;
    padding:7px 7px 12px
}
.errorSummary p{
    margin:0;
    padding:5px
}
.errorSummary ul{
    color:red;
    margin:0;
    padding:0 0 0 20px
}
span.required,.errorMessage{
    color:red
}
/**
*重写分页样式
*/
ul.yiiPager{height:26px;margin:0;padding:0}ul.yiiPager li{display:inline;margin:0 4px 0 0}ul.yiiPager a:link,ul.yiiPager a:visited{padding:5px 9px;border:1px solid #ccc;border-radius:3px;background:#fff;color:#777;font-weight:normal}ul.yiiPager a:hover{border-color:#449d44;box-shadow:1px 1px 1px #333;color:#035d67;text-decoration:none}ul.yiiPager .selected a{padding:6px 10px;border:0;border-radius:3px;background:#449d44;color:#fff}ul.yiiPager .hidden{display:none}