body {
  background-image: url('../images/body_bg.png');
  _background-image: none;
  background-repeat: repeat;
  background-color: #030C14;
  font-size: 14px;
  font-family: "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft Yahei", "微软雅黑", Tahoma, Arial, STHeiti, sans-serif;
  _font-family: Tahoma, Arial, Helvetica, STHeiti, sans-serif;
  cursor: default;
}
/*一些自定义样式*/
.wrapper{
    width:820px;
    margin:15px auto;
}
.header-top{
    width: 100%;
    background: none;
}
.header-logo{
    width: 820px;
    height: 100px;
    margin: 0 auto;
    font-size: 48px;
    padding-top: 10px;        
    color:#E6E5C9;
    text-align: center
}
.header-logo a{
    color:#E6E5C9
}
.header-logo a:hover{
    text-decoration: none;
}
/*全局左右宽度*/
.main-page{
    float:left;
    width: 550px;
    min-height:480px;
    _height:400px;
    background:#fff;
    margin-bottom:.8em;    
    border: 1px solid #e1dfdf;
    border-radius: 3px;
    box-shadow: 0 2px 1px -1px #d1d4d7;
    padding:0 25px
}
.aside-page{
    float:right;
    width:220px;
}
.aside-page .aside-mod{
    width: 100%;
    padding: 15px 10px;
    background:#fff;
    border: 1px solid #e1dfdf;
    border-radius: 3px;
    box-shadow: 0 2px 1px -1px #d1d4d7;
    margin-bottom: 15px;
}
/*form表单错误提示*/
.errorSummary{
    border:2px solid #C00;
    background:#FEE;
    font-size:.9em;
    margin:0 0 20px;
    padding:7px 7px 12px
}
.errorSummary p{
    margin:0;
    padding:5px
}
.errorSummary ul{
    color:red;
    margin:0;
    padding:0 0 0 20px
}
span.required,.errorMessage{
    color:red
}